@use '../helpers' as *;

.banner{
    width: 100%;
    height: 100%;

    border-radius: rem(35);
    background-color: var(--blue);


    & > *{
        width: 100%;
        height: 100%;

        border-radius: rem(35);
        transform: rotate(-1.5deg);

        object-fit: cover;
    }

    &--reverse{
        transform: rotate(-1deg);

        & > *{
            transform: rotate(1deg);
        }
    }

    &--normal{
        transform: rotate(1.5deg);
    }

    &--white{
        background-color: var(--white);
    }
}