@use '../helpers' as *;

.banner{
    width: 100%;
    height: 100%;

    border-radius: rem(35);
    background-color: var(--blue);


    & img{
        width: 100%;
        height: 100%;

        border-radius: rem(35);
        transform: rotate(-1.5deg);

        object-fit: cover;
    }

    &--normal{
        transform: rotate(1.46deg);
    }
}