@use '../helpers' as *;

.billboard{
    padding: fluid(40, 30) fluid(55, 18);

    display: grid;
    grid-template-columns: rem(455) 1fr rem(375);
    justify-content: space-between;

    border-radius: fluid(40, 20);
    background-color: var(--blue);

    &__header{
        &-title{
            letter-spacing: 0.05em;

            position: relative;
            &-line{
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        &-text{
            padding-top: rem(15);

            font-weight: 500;
            font-size: fluid(24, 16);
            line-height: 155%;
            color: var(--white);
        }
    }

    &__img{
        & .banner{
            margin: 0 auto;
            max-width: rem(411);
        }
    }

    &__form{
        gap: fluid(29, 20);

        & .button{
            font-size: fluid(21, 16);
        }

        & .input__new-input{
            color: var(--white);

            margin-top: fluid(10, 7);
            font-size: fluid(18, 15);

            &::placeholder{
                color: var(--white);
            }
        }

        & .button{
            width: 100%;
            justify-content: center;
        }
    }

    @include laptop{
        grid-template-columns: repeat(2, calc(50% - rem(15)));

        &__header-title-line{
            display: none;
        }

        &__img{
            display: none;
        }
        &__form-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @include tablet{
        &__form{
            max-width: rem(350);
            width: 100%;

            margin: 0 auto;
        }
    }

    @include mobile{
        display: flex;
        flex-direction: column;

        &__header{
            text-align: center;
        }

        &__form{
            margin-top: rem(34);

            &-footer{
                & .icon-right svg{
                    @include square(rem(19))
                }
            }

            .form__about{
                font-size: rem(10);
            }
        }


    }
}