@use '../helpers' as *;

.billboard{
    padding: fluid(40, 30) fluid(55, 18);

    display: grid;
    grid-template-columns: 33% 30% 29%;
    justify-content: space-between;

    border-radius: rem(40);
    background-color: var(--blue);

    &__header{
        &-title{
            position: relative;
            &-line{
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        &-text{
            padding-top: fluid(30, 25);

            font-weight: 500;
            font-size: fluid(24, 16);
            line-height: 155%;
            color: var(--white);
        }
    }

    &__img{}

    &__form{
        justify-content: center;
    }

    @include laptop{
        grid-template-columns: repeat(2, calc(50% - rem(15)));

        &__header-title-line{
            display: none;
        }

        &__img{
            display: none;
        }
        &__form-footer{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @include mobile{
        display: flex;
        flex-direction: column;

        &__header{
            text-align: center;
        }

        &__form{
            margin-top: rem(34);
        }
    }
}