@use '../helpers' as *;

.button{
    text-decoration: none;
    border: none;

    display: flex;
    align-items: center;

    &__phone{
        display: none;
    }

    &--48{
        white-space: nowrap;

        padding: fluid(14, 12) fluid(41, 26);
        border-radius: rem(30);

        font-size: fluid(14, 11);
        font-weight: 500;

        & .icon-right{
            padding-left: fluid(20, 12);

            display: flex;
            align-items: center;

            & svg{
                width: fluid(12, 10);
            }
        }
    }

    &--78{
        overflow: hidden;

        border-radius: rem(90);
        padding: fluid(24.5, 20) fluid(35, 30) fluid(24.5, 20)  fluid(49, 44);

        font-weight: 500;
        font-size: fluid(22, 16);
        line-height: 106%;

        & .icon-right{
            padding-left: rem(30);

            display: flex;
            align-items: center;

            & svg{
                width: rem(29);
            }
        }

        position: relative;
        &::after{
            content: '';

            position: absolute;
            right: rem(29);

            width: rem(156);
            height: rem(57);

            border-radius: 50%;

            background-color: var(--white);
            transform: rotate(-63deg);
            filter: blur(130px);
        }
    }

    &--85{
        overflow: hidden;

        border-radius: rem(90);
        padding: rem(28) rem(50) rem(28) rem(63);

        font-weight: 600;
        font-size: rem(22);
        line-height: 106%;

        & .icon-right{
            padding-left: rem(35);

            display: flex;
            align-items: center;

            & svg{
                width: rem(29);
            }
        }

        position: relative;
        &::after{
            content: '';

            position: absolute;
            right: rem(29);

            width: rem(156);
            height: rem(57);

            border-radius: 50%;

            background-color: var(--white);
            transform: rotate(-63deg);
            filter: blur(130px);
        }
    }

    &--85-border{
        overflow: hidden;

        border-radius: rem(90);
        padding: rem(27) rem(53) rem(27) rem(67);

        font-weight: 600;
        font-size: rem(22);
        line-height: 106%;

        border: 1px solid var(--black-37);

        & .icon-right{
            padding-left: rem(35);

            display: flex;
            align-items: center;

            & svg{
                width: rem(29);
            }
        }

        position: relative;
        &::after{
            content: '';

            position: absolute;
            right: rem(29);

            width: rem(156);
            height: rem(57);

            border-radius: 50%;

            background-color: var(--white);
            transform: rotate(-63deg);
            filter: blur(130px);
        }
    }

    &--100{
        @include fluid-text(26, 16);

        overflow: hidden;

        border-radius: rem(90);
        padding: fluid(35, 18) fluid(92, 20);

        font-weight: 500;
        line-height: 106%;


        & .icon-right{
            padding-left: fluid(55, 30);

            display: flex;
            align-items: center;

            & svg{
                @include square(fluid(29, 20));
            }
        }
    }

    &--white{
        background-color: var(--white);
        color: var(--black-37);

        @include hover{
            color: var(--blue);

            & .svg *{
                fill: var(--blue);
            }
        }
    }
    &--blue{
        background-color: var(--blue);
        color: var(--white-f8);

        @include hover{
            background-color: var(--blue-8e);
        }

        &.blink{
            position: relative;
            &::after{
                content: '';

                position: absolute;
                right: rem(10);
                bottom: 0;

                background-color: var(--white);
                filter: blur(60px);

                width: rem(100);
                height: rem(100);

                transform: rotate(-77deg);

                animation: blink 3s ease-in-out infinite; /* Анимация */
            }
        }
        &.pulse{
            animation: pulse-blue 2s ease-in-out infinite;
        }
    }

    &--border{
        border: var(--border-black);
    }

    &--submit{
        position: relative;

        width: 100%;
        
        justify-content: center;

        & input{
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            opacity: 0;
        }
    }

    &--opacity{
        font-weight: 400;
        background: none;
        color: var(--white-f8);
        border-color: var(--border-color-opacity)
    }

    &-circle{
        @include square(rem(28));
        display: block;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-slider{
        display: flex;
        align-items: center;

        &__item{
            &:not(:first-child){
                margin-left: fluid(25, 15);
            }

            @include square(fluid(50, 29));
            border-radius: 50%;

            background: none;

            border:1px solid var(--border-color-opacity);

            display: flex;
            justify-content: center;
            align-items: center;

            @include hover{
                background-color: var(--blue-8e)
            }
        }

        &--big &__item{
            @include square(fluid(70, 40));
        }
    }

    &-up{
        font-weight: 300;
        font-size: rem(16);
        line-height: 145%;
        color: var(--blue);

        display: flex;
        align-items: center;

        & .icon-right{
            margin-left: rem(35);

            @include square(rem(35));

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--blue);
            border-radius: 50%;
        }
    }

    &-social{
        @include square(fluid(38, 32));
        border-radius: 50%;

        overflow: hidden;

        & img{
            width: 100%;
            height: 100%;
        }

        @include hover{
            opacity: .8;
        }
    }

    &--menu{
        @include square(rem(39));
        border-radius: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
        & > span{
            height: 2px;

            border-radius: 1px;

            background-color: var(--black-38);

            transition: all var(--transition-duration);

            &:nth-child(1){
                position: absolute;
                top: rem(13);
                left: rem(16);

                width: rem(13);
            }
            &:nth-child(2){
                width: rem(18);
            }
            &:nth-child(3){
                position: absolute;
                bottom: rem(13);
                right: rem(16);

                width: rem(13);
            }
        }

        &.is-active{
            & > span{
                &:nth-child(1){
                    top: rem(18);
                    left: calc(50% - rem(9));
                    width: rem(18);
                    transform: rotate(45deg)
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    top: rem(18);
                    left: calc(50% - rem(9));
                    width: rem(18);
                    transform: rotate(-45deg)
                }
            }
        }
    }

    &--play{
        border-radius: 50%;

        width: fluid(88, 64);
        aspect-ratio: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        & img{
            width: fluid(32, 21);
            aspect-ratio: 1;
        }

        & video{
            display: none;
            position: absolute;
            opacity: 0;
        }

        &.is-active video{
            display: block;
            opacity: 1;
        }

        @include hover{
            background-color: var(--blue-8e);
        }
    }

    @include mobile{
        &--85{
            padding: rem(20.5) rem(27);

            font-size: rem(16);

            & .icon-right svg{
                width: rem(20);
            }

            &::after{
                right: -16%;
            }
        }

        &-up{
            font-size: 0;
        }

        &__phone{
            display: block;
        }
        &__pc{
            display: none;
        }

        &-slider{
            &__item{
                & svg{
                    width: rem(7);
                }

                &--big &__item{
                    & svg{
                        width: rem(10);
                    }
                }
            }
        }
    }

    @include mobile-s {
        &--100{
            width: 100%;
            justify-content: center;
        }
    }
}

.video{
    position: relative;

    &__wrapper{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes pulse-blue {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--blue-8e);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    transform: translateX(-700%);
  }
  100% {
    transform: translateX(125%);
  }
}