@use '../helpers' as *;

.city{
    &-modal{
        width: rem(1001);
        max-height: rem(628);
    }

    &__content{
        overflow: auto;

        margin-top: rem(50);

        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        gap: rem(40) rem(43);

        & .button{
            padding-left: rem(20);
            padding-right: rem(20);

            width: calc(33% - rem(40));
            display: flex;
            justify-content: center;

            font-size: rem(19);
            font-weight: 500;
            line-height: 132%;

            &--blue::after{
                filter: blur(50px);
            }
        }

        &::-webkit-scrollbar {
        width: 10px;
        }

        &::-webkit-scrollbar-track {
        background: var(--black-38);
        border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
        background: var(--blue);
        border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
        background: var(--blue);
        }

        /* Стилизация для Firefox */
        & * {
        scrollbar-width: thin;
        scrollbar-color: var(--blue) var(--black-38);
        }

    }

    @include tablet{
        &-modal{
            width: 100%;
            max-height: 70vh;
        }
        &__content{
            & .button{
                width: calc(50% - rem(40));
            }
        }
    }

    @include mobile{
        &__content{
            height: 50vh;

            overflow: auto;

            & .button{
                width: 100%;
            }
        }
    }
}