@use '../helpers' as *;

.concert{
    & .swiper-slide {
        width: auto !important;
    }

    &__video{
        position: relative;

        &-line{
            position: absolute;
            right: rem(70);
            bottom: rem(19);
        }
    }

    &__item{
        overflow: hidden;

        & > *{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--big{
            width: 32vw;
            height: 24vw;

            border-radius: rem(30);
        }
        &--small{
            display: grid;
            grid-template-columns: 20.5vw;
            grid-template-rows: repeat(2, 11vw);
            row-gap: rem(40);

            & > *{
                border-radius: rem(25);
            }
        }
    }

    &__button{
        margin-top: fluid(70, 40);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include laptop{
        &__video-line{
            display: none;
        }
        &__item{
            &--big{
                width: 112vw;
                height: 86vw;

                border-radius: rem(30);
            }
            &--small{
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                row-gap: 7vw;

                & img{
                    width: 66.5vw;
                    height: 39vw;
                }
            }
        }
    }
}