@use '../helpers' as *;


.converter{
    padding: rem(30) rem(15) rem(50) rem(20);

    border: 1px solid var(--purple-58);
    background-color: var(--background);
    border-radius: rem(20);

    &__title{
        text-align: center;

        font-size: rem(18);

        color: var(--white);
    }

    &__main{
        position: relative;

        margin-top: rem(38);

        &-open{
            position: relative;

            width: 100%;
            height: rem(50);

            padding: 0 rem(18);

            border: 1px solid var(--purple-58);
            background-color: var(--black);
            color: var(--grey-d9);

            border-radius: rem(69);

            font-size: rem(14);

            text-align: start;

            &::after{
                transition: var(--transition);

                content: '';

                position: absolute;
                top: 1px;
                right: 1px;

                height: calc(100% - 2px);
                aspect-ratio: 1;

                border-radius: 50%;

                background-image: url(../../../assets/svg/converter.svg);
                background-size: auto;
                background-position: center;
            }

            &.is-active{
                &::after{
                    transform: rotate(180deg);
                }
            }
        }

        

        &-wrapper{
            z-index: 100;
            overflow: hidden;
            position: absolute;
            top: rem(55);
            left: 0;

            width: 100%;
            height: 0;

            transition: var(--transition);
        }
        &-content{
            max-height: rem(130);

            padding: 0 rem(18);

            border: 1px solid var(--purple-58);
            background-color: var(--black);
            color: var(--grey-d9);

            border-radius: rem(20);

            overflow: auto;

            /* Chrome, Edge, Safari */
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            /* Firefox */
            * {
                scrollbar-width: none;
            }

            /* IE / старый Edge */
            * {
                -ms-overflow-style: none;
            }
        }
        &-list{
            button{
                width: 100%;

                padding: rem(8) 0;

                font-size: rem(14);

                color: var(--grey-d9);
            }
        }
    }

    &__form{
        margin-top: rem(36);

        display: flex;
        flex-direction: column;
        gap: rem(10);

        &-item{
            position: relative;

            display: flex;
            flex-direction: column;
            gap: rem(10);

            &-text{
                padding-left: rem(20);

                color: var(--grey-74);
                font-size: rem(12);
            }

            &-img{
                position: absolute;
                top: 9px;
                right: 9px;

                height: 32px;
                aspect-ratio: 1;

                border-radius: 50%;

                object-fit: contain;
                object-position: center;

                &.is-hide{
                    display: none;
                }
            }

            &:nth-child(2){
                margin-bottom: rem(18);
            }
        }

        &-input{
            pointer-events: none;
            outline: none;
            height: rem(50);

            padding: 0 rem(50) 0 rem(18);

            border: 1px solid var(--purple-58);
            background-color: var(--black);
            color: var(--grey-d9);

            border-radius: rem(69);

            &::placeholder{
                color: var(--grey-d9);
            }

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            & {
                -moz-appearance: textfield;
            }

            &.is-active{
                pointer-events: auto;
            }
        }
    }

    &__footer{
        margin-top: rem(13);

        padding-left: rem(3);

        font-size: rem(12);
        color: var(--grey-74);

        display: flex;
        flex-wrap: wrap;
        gap: rem(10) rem(21);

        p{
            color: var(--white);
        }
    }
}