@use '../helpers' as *;

.footer{
    padding-bottom: rem(75);

    position: relative;
    &::after{
        content: '';

        position: absolute;
        left: rem(-260);
        bottom: rem(-200);

        border-radius: 900px;
        width: rem(631);
        height: rem(576);

        background-color: var(--blue-0c);
        transform: rotate(-166deg);
        filter: blur(300px);
        opacity: 0.6;
    }

    &__container{
        display: grid;
        grid-template-areas:'main images'
                            'about images';
        grid-template-columns: 52% 48%;
        grid-template-rows: repeat(2, auto);
        row-gap: rem(88);
    }

    &__main{
        grid-area: main;

        &-button{
            padding-top: rem(60);
        }
    }

    &__about{
        grid-area: about;

        &-text{
            font-size: rem(20);
            line-height: 145%;

            color: var(--white);
        }

        &-link{
            padding-top: rem(29);
        }
    }

    &__images{
        grid-area: images;

        position: relative;
        &::after{
            @include square(rem(71));

            content: '';

            position: absolute;
            top: -9%;
            right: 17%;

            background-image: url(../../../public/svg/star.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &::before{
            @include square(rem(51));

            content: '';

            position: absolute;
            top: -5%;
            left: 10%;

            background-image: url(../../../public/svg/star.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }

        & img{
            position: absolute;
            left: -13%;
            top: 0%;

            width: 140%;
        }
    }

    @include laptop{
        &__images{
            & img{
                width: 200%;
            }
        } 
    }

    @include tablet{
        padding-bottom: rem(30);

        &__container{
            grid-template-areas:'main'
                                'images'
                                'about';
            grid-template-columns: auto;
            grid-template-rows: repeat(3, auto);
            row-gap: rem(40);
        }

        &__main{
            display: flex;
            flex-direction: column;
            align-items: center;

            &-button{
                padding-top: rem(30);
            }
        }

        &__images{
            display: flex;
            justify-content: center;

            & img{
                position: static;
                width: 100%;
                max-width: rem(400);
            }
        }

        &__about{
            display: flex;
            flex-direction: column;
            align-items: center;

            &-text{
                text-align: center;
            }

            & a{
                display: inline-block;
                text-align: center;
            }
        }
    }

    @include mobile{
        &::after{
            display: none;
        }

        &__container{
            row-gap: rem(25);
        }
        &__images{
            display: none;
        }

        &__main{
            &-button{
                padding-top: rem(50);
            }
        }

        &__about{
            &-text{
                font-size: rem(15);
            }

            &-link{
                padding-top: rem(11);
                & a{
                    font-size: rem(12);
                }
            }
        }
    }
}