@use '../helpers' as *;

.footer{
    margin-top: rem(100);

    padding-top: rem(56);
    padding-bottom: rem(45);

    background-color: var(--grey-f7);

    &__container{

    }

    &__top{
        display: flex;
        gap: rem(50);
    }
    &__start{
        display: flex;
        flex-direction: column;
        justify-content: start;

        &-logo{
            & > a{
                display: flex;
                justify-content: start;
                align-items: center;

                & > img{
                    width: rem(162);
                    height: rem(67);
                }
            }

            transition: var(--transition);

            @include hover{
                opacity: .8;
            }
        }
        &-text{
            margin-top: rem(13);
            
            font-size: rem(16);
            color: var(--grey-d9);
        }
        &-form{
            margin-top: rem(30);

            width: 377px;

            .b-unisender-form{
                padding: 0;
                display: flex;
                align-items: center;

                border-radius: rem(30);
                overflow: hidden;

                border-color: var(--purple-92);
                background-color: var(--grey-f7);
            }
            .b-unisender-field{
                margin: 0;

                display: flex;
                align-items: center;
            }
            .b-unisender-field__input{
                border: none;

                color: var(--white);
            }
            .b-unisender-field__label{
                display: none;
            }
            .b-unisender-form__main{
                width: 100%;
            }

            .b-unisender-form .b-unisender-field[data-unisender-field-name="email"] .b-unisender-field__input, .b-unisender-form .b-unisender-checkbox[data-unisender-field-name="email"] .b-unisender-checkbox__input{
                margin: 0;
                border: none;

                background-color: var(--grey-f7);
            }
            .b-unisender-form .b-unisender-field[data-unisender-field-name="email"], .b-unisender-form .b-unisender-checkbox[data-unisender-field-name="email"]{
                margin: 0;
            }

            .b-unisender-form .b-unisender-form__submit-button{
                height: rem(36) !important;

                color: var(--black);
                background: var(--linear-gradient);

                display: flex;
                justify-content: center;
                align-items: center;

                font-size: rem(13);
                font-weight: 700;
            }


        }
    }
    &__menu{
        width: 100%;

        display: flex;
        justify-content: space-between;


        &-item{
            &-two{
                display: flex;
                gap: rem(12);
            }

            &-content{
                margin-top: rem(30);

                display: flex;
                gap: rem(21);
            }

            &-list{
                flex-shrink: 0;

                width: rem(196);

                list-style-type: none;

                display: flex;
                flex-direction: column;
                gap: rem(25);

                & a{
                    text-decoration: none;

                    font-size: rem(14);
                    color: var(--grey-d3);

                    transition: var(--transition);

                    @include hover{
                        color: var(--purple-92);
                    }
                }
            }
        }
    }
    &__title{
        font-weight: 700;
        font-size: rem(16);
        color: var(--purple-ce);

        display: flex;
        align-items: center;
        gap: rem(15);

        & > span{
            width: 100%;
            height: 1px;

            background: var(--linear-gradient);
        }
    }


    &__bottom{
        margin-top: rem(20);

        padding-bottom: rem(12);

        border-bottom: 1px solid var(--grey-8b);

        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    &__social{
        padding-left: rem(14);

        display: flex;
        gap: rem(16);

        & > a{
            display: flex;
            justify-content: center;
            align-items: center;

            transition: var(--transition);

            @include hover{
                opacity: .8;
            }
        }
    }
    &__mail{
        text-decoration: none;

        font-size: rem(14);
        color: var(--grey-d3);

        transition: var(--transition);

        @include hover{
            color: var(--purple-92);
        }
    }
}

@include laptop{
    .footer__menu{
        flex-wrap: wrap;
        gap: rem(30);
    }
}

@include tablet{
    .footer__menu{
        justify-content: center;
    }
    .footer__top{
        flex-wrap: wrap;
        gap: rem(30);
    }
}

@include mobile-s{
    .footer__menu-item-content,
    .footer__menu-item-two{
        flex-wrap: wrap;
    }

    .footer__menu-item-content{
        margin-top: rem(15);
    }

    .footer__social{
        padding-left: 0;
    }
}