@use '../helpers' as *;

.form{
    display: flex;
    flex-direction: column;
    row-gap: rem(25);

    &__about{
        padding-top: rem(20);

        font-weight: 300;
        font-size: rem(12);
        line-height: 145%;
        text-align: center;
        color: var(--blue-c4);

        & > a{
            font-weight: 400;
            font-size: rem(12);
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--white);
        }
    }
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: rem(10);

    border-radius: rem(90);
    padding: rem(16) rem(34) rem(17) rem(34);

    border: 1px solid var(--border-color-opacity);

    cursor: pointer;
}

.label{
    font-weight: 300;
    font-size: rem(13);
    line-height: 106%;
    opacity: 0.7;

    &--white{
        color: var(--white);
    }
}

.input{
    background: none;
    border: none;
    outline: none;

    font-weight: 500;
    font-size: rem(18);
    line-height: 106%;
    letter-spacing: 0.06em;
    
    &--white{
        color: var(--white);

        &::placeholder{
            color: var(--white);
        }
    }

    &__new{
        height: fluid(78, 60);
        padding: 0 fluid(35, 25);
        border-radius: 90px;
        border: var(--border);

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;



        & *{
            transition: all var(--transition-duration);
        }

        &-name{
            font-weight: 500;
            font-size: fluid(18, 15);
            line-height: 106%;
        }
        &-input{
            background: none;
            border: none;
            outline: none;
            font-size: 0;
            line-height: 106%;
            color: var(--white);

            &:not(:placeholder-shown),
            &:focus{
                padding-top: fluid(10, 7);
                font-size: fluid(18, 15);

                & + .input__new-name{
                    font-size: fluid(13, 10);
                    opacity: .7;
                }
            }
        }

    }
}