@use '../helpers' as *;

.global{
    display: flex;
    gap: rem(30);

    &__left{
        padding-top: rem(38.5);

        width: rem(296);

        display: flex;
        flex-direction: column;
        gap: rem(30);

        &-wrapper{
            display: flex;
            flex-direction: column;
            gap: rem(30);
        }
    }

    &__right{
        width: calc(100% - rem(326));
    }
}

@media (width <= rem(1240)) {
    .global{
        flex-direction: column;
    }

    .global__left,
    .global__right{
        width: 100%;
    }

    .global__left{
        height: 0;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;

        transition: var(--transition);
    }
}