@use '../helpers' as *;

.global{
    display: flex;
    gap: rem(30);

    &__left{
        padding-top: rem(38.5);

        width: rem(296);

        display: flex;
        flex-direction: column;
        gap: rem(30);

        &-wrapper{
            position: sticky;
            top: 10px;
                
            display: flex;
            flex-direction: column;
            gap: rem(30);
        }

        &-menu{
            &-title{
                color: var(--grey-55);
                font-size: rem(16);
                font-weight: 700;
                text-transform: uppercase;
            }

            &-subtitle{
                margin-top: rem(17);

                display: flex;
                align-items: center;
                gap: rem(6);

                font-size: rem(14);
                font-weight: 300;
                color: var(--purple-ce);
                text-transform: uppercase;

                & > span{
                    width: 100%;
                    height: 1px;

                    background: var(--purple-ce);
                }
            }

            &-content{
                margin-top: rem(26);

                display: flex;
                flex-direction: column;
                gap: rem(24);

                &-item{
                    text-decoration: none;

                    display: flex;
                    align-items: center;
                    gap: rem(13);
                }

                &-img{
                    @include square(rem(90));

                    border-radius: rem(10);

                    object-fit: cover;
                    object-position: center;
                }

                &-main{
                    display: flex;
                    flex-direction: column;
                    gap: rem(11);
                }

                &-title{
                    font-size: rem(12);
                    font-style: normal;
                    color: var(--purple-ce);
                }

                &-description{
                    font-size: rem(14);
                    line-height: rem(16);
                    color: var(--grey-55);
                }
            }
        }
    }

    &__right{
        width: calc(100% - rem(326));
    }
}

@media (width <= rem(1240)) {
    .global{
        flex-direction: column;
    }

    .global__left,
    .global__right{
        width: 100%;
    }

    .global__left{
        position: static;

        margin: 0 calc(var(--container-padding-x) * -1);

        width: calc(100% + (var(--container-padding-x) * 2));
        height: 0;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;

        transition: var(--transition);

        background-color: var(--background);

        padding: 0;
    }

    .global__left-wrapper{
        width: 100%;

        padding: rem(20) var(--container-padding-x) rem(40) var(--container-padding-x);
    }
}