@use '../helpers' as *;

.global{
    display: flex;
    gap: rem(30);

    &__left{
        padding-top: rem(38.5);

        width: rem(296);

        display: flex;
        flex-direction: column;
        gap: rem(30);
    }

    &__right{
        width: calc(100% - rem(326));
    }
}