@use '../helpers' as *;

.header{
    padding-top: rem(35);
    padding-bottom: rem(12);

    display: flex;
    align-items: center;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        transition: all var(--transition-duration);

        @include hover{
            opacity: .8;
        }
    }

    &__menu{
        list-style-type: none;

        display: flex;
        align-items: center;

        gap: rem(25);

        & li{

        }

        & a{
            text-decoration: none;

            color: var(--black);
            font-weight: 400;
            font-size: rem(12);
            text-transform: uppercase;

            transition: all var(--transition-duration);

            @include hover{
                color: var(--purple-ab);
            }
        }
    }
}