@use '../helpers' as *;

.header{
    z-index: 10000;

    position: absolute;
    top: 0;

    width: 100%;

    &__container{
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &__left{
        display: flex;
        align-items: end;
    }
    &__logo{
        padding-bottom: rem(12);

        display: block;
        & img{
            width: 149px;
            height: 36px;

            &:nth-child(2){
                display: none;
            }
        }

        transition: var(--transition-all);

        @include hover{
            opacity: .8;
        }
    }
    &__menu{
        margin-left: rem(40);
    }
    &__list{
        list-style-type: none;

        display: flex;
        align-items: center;

        & a{
            display: block;
            padding: rem(35) rem(20) rem(21) rem(20);
        }
    }

    &__right{}

    &--next{
        z-index: 10000;

        position: fixed;
        top: 0;
        width: 100%;

        background-color: var(--grey-eb);

        & .header__left{
            align-items: center;
        }

        & .header__logo{
            padding-bottom: 0;
        }


        & .header__list{
            & a{
                padding: rem(28) rem(20);
            }
        }

        & .header__container{
            align-items: center;
        }

        & .btn-a-menu{
            color: var(--grey-6d);

            @include hover{
                color: var(--blue-03);

                & svg *{
                    fill: var(--blue-03);
                }
            }

            &.is-active{
                color: var(--black);
            }
        }

        & .btn-header{
            padding: 0;

            &::after,
            &::before{
                background: none;
            }

            color: var(--grey-6d);

            & svg{
                transition: var(--transition-all);

                & *{
                    fill: var(--grey-6d);
                }
            }

            @include hover{
                color: var(--blue-03);

                & svg *{
                    fill: var(--blue-03);
                }
            }
        }
    }

    &--open{
        background-color: var(--grey-eb);

        & .header__logo{
            & img{
                &:first-child{
                    display: none;
                }
                &:last-child{
                    display: block;
                }
            }
        }

        & .btn-a-menu{
            color: var(--grey-6d);

            @include hover{
                color: var(--blue-03);

                & svg *{
                    fill: var(--blue-03);
                }
            }

            &.is-active{
                color: var(--black);
            }
        }

        & .btn-header{
            color: var(--grey-6d);

            & svg{
                transition: var(--transition-all);

                & *{
                    fill: var(--grey-6d);
                }
            }

            @include hover{
                color: var(--blue-03);

                & svg *{
                    fill: var(--blue-03);
                }
            }
        }
    }
}