@use '../helpers' as *;


.header{
    position: sticky;
    top: 0;

    background-color: var(--dark);

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        width: rem(186);
        height: rem(47);
    }

    &__menu{
        ul{
            display: flex;
            list-style-type: none;
        }

        li{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;

                width: 100%;
                height: rem(2);
                background-color: var(--orange);
                transition: all var(--transition-duration);
                opacity: 0;
            }

            &.is-open::after{
                opacity: 1;
            }
        }

        a {
            display: block;
            padding: rem(30) rem(17) rem(27);
            color: var(--grey);
            text-decoration: none;
            font-size: rem(20);
            line-height: 135%;
            letter-spacing: 0.01em;
            white-space: nowrap;

            @include hover{
                color: var(--orange);
            }
        }

        &-item{
            position: absolute;
            top: 100%;
            left: 0;
            max-width: rem(500);
            background-color: var(--dark);
            opacity: 0;
            pointer-events: none;

            &.is-open{
                opacity: 1;
                pointer-events: auto;   
            }

            li{
                width: 100%;
                border-top: 1px solid var(--white);
            }

            a{
                padding: rem(17) rem(43);
            }
        }
    }

    &__address{
        font-style: normal;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}