@use '../helpers' as *;

.inst{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    gap: rem(32);

    & .swiper-inst{
        width: 100%;
    }
    
    &__img{
        @include square(rem(75));

        padding: rem(2);

        border-radius: 50%;
        background: var(--linear-gradient);


        & img{
            width: 100%;
            height: 100%;

            border: rem(3) solid var(--white);
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__text{
        font-size: rem(12);
        text-align: center;
        color: var(--grey-55);

        width: 10ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    &__btn{
        flex-shrink: 0;

        @include square(rem(75));

        background-color: var(--grey-f7);
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__modal{
        padding-left: 33.33%;

        &-item{
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-wrapper{
                position: relative;

                border-radius: rem(20);
            }

            &-content{
                transition: var(--transition-duration);

                width: 50.5vh;
                height: 70.1vh;

                overflow: hidden;

                & .video{
                    height: 100%;
                }

                & video{
                    width: 100%;
                    height: 100%;
                }

                background-color: var(--white);
                border-radius: rem(20);
            }

            &-img{
                width: 100%;
                height: 100%;

                object-fit: cover;
            }

            &-white{
                z-index: -1;

                position: absolute;
                left: 0;
                bottom: 0;

                width: 100%;
                height: rem(100);

                padding: rem(20);

                display: flex;
                justify-content: center;
                align-items: end;

                transition: var(--transition-duration);

                background-color: var(--white);

                border-radius: rem(20);

                & a{
                    text-decoration: none;

                    font-weight: 700;
                    font-size: 21px;

                    color: var(--purple-92);
                }
            }

            &-link{
                z-index: 1;

                position: absolute;
                left: 0;
                bottom: 0;

                width: 100%;
                height: rem(100);

                opacity: 0;
            
                text-decoration: none;

                display: flex;
                justify-content: center;
                align-items: center;

                font-weight: 700;
                font-size: rem(21);

                color: var(--purple-92);
            }
        }

        .modal.is-active & .swiper-slide{
            filter: grayscale(100%);

            transition: var(--transition-duration);

            pointer-events: none;

            &.swiper-slide-active{
                pointer-events: auto;

                filter: grayscale(0);

                & .inst__modal-item-content{
                    transform: translateY(rem(-70));
                }

                & .inst__modal-item-link{
                    opacity: 1;
                }
            }
        }
    }


}