@use '../helpers' as *;


.lesson{
    position: relative;
    &::after{
        content: '';

        position: absolute;
        top: rem(-250);
        left: rem(-100);

        width: rem(504);
        height: rem(504);

        background-color: var(--blue-0c);
        border-radius: 900px;
        filter: blur(250px);
        transform: rotate(45deg);
        opacity: 0.45;
    }

    &__content{
        display: flex;
        column-gap: rem(40);

        &-item{
            flex-shrink: 0;
            width: 37%;

            padding: fluid(45, 32) fluid(35, 43);

            border: var(--border);
            border-radius: rem(15);
        }

        &-number{
            &::before{
                content: '// ';
            }

            font-family: var(--second-family);
            font-weight: 700;
            font-size: fluid(45, 30);
            line-height: 110%;
            letter-spacing: 0.09em;
            -webkit-text-stroke: rem(1) var(--blue);
            color: transparent;
        }
        &-title{
            padding-top: fluid(30, 25);

            font-family: var(--second-family);
            font-weight: 800;
            line-height: 109%;
            letter-spacing: 0.02em;
            font-size: fluid(32, 23);
            
            color: var(--white-e6);
        }
        &-text{
             padding-top: rem(20);

            font-size: fluid(20, 14);
            font-weight: 400;
            line-height: 153%;
            color: var(--grey-a9);
        }
    }

    &__button{
        margin-top: fluid(80, 45);

        display: flex;
        justify-content: center;
    }

    @include laptop{
        &__content{
            flex-wrap: wrap;

            gap: rem(30);
        
            &-item{
                width: calc(50% - rem(15));
            }
        }
    }

    
    @include tablet{
        &::after{
            display: none;
        }

        &__button{
            & .button{
                width: 100%;

                justify-content: center;

                & .icon-right{
                    height: rem(20);
                }
            }
        }
    }

    @include mobile{
        &__content{
            flex-direction: column;
            flex-wrap: wrap;
        
            &-item{
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}

