@use '../helpers' as *;

.map{
    height: rem(650);

    position: relative;

    &__banner{
        overflow: hidden;
        border-radius: fluid(40, 20);
        background-color: var(--white);
    }

    &__address{
        position: absolute;
        top: rem(62);
        left: rem(70);

        padding: fluid(34, 26) fluid(33, 20);
        border-radius: rem(25);
        background-color: var(--white);

        &-item{
            &:not(:first-child){
                margin-top: fluid(35, 30);
            }
        }
        &-name{
            &::after{
                content: ':';
            }

            font-weight: 300;
            font-size: fluid(19, 14);
            line-height: 110%;
            color: var(--grey-67);
        }
        &-phone{
            display: inline-block;
            padding-top: fluid(17, 10);

            font-weight: 600;
            font-size: fluid(36, 25);
            line-height: 120%;
            color: var(--grey-36);
            text-decoration: none;
        }
        &-buttons{
            margin-top: rem(25);

            display: flex;
            align-items: center;

            gap: fluid(25, 20);
        }
        &-text{
            padding-top: fluid(16, 10);

            font-weight: 300;
            font-size: fluid(26, 20);
            line-height: 130%;
            color: var(--grey-36);
        }
    }

    @include tablet{
        height: auto;

        &__address{
            position: static;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .banner{
            margin-top: rem(35);

            width: 100;
            aspect-ratio: 1 / 1.23;
        }

        &__header{
            text-align: center;
        }
    }
}