@use '../helpers' as *;

.news{
    &__item{
        &-img{
            object-fit: cover;
        }
        &-content{
            width: 100%;
        }
        &-date{
            font-size: rem(12);
            color: var(--purple-92);
        }
        &-title{
            font-weight: 700;
            font-size: rem(21);
        }
        &-text{
            font-size: rem(14);
            line-height: 157%;
            color: var(--grey-55);
        }
        &-btns{
            margin-top: rem(22);

            display: flex;
            justify-content: space-between;
        }

        &-tags{
            list-style-type: none;

            display: flex;
            align-items: center;

            font-size: rem(12);

            & li{
                &:not(:first-child){
                    margin-left: rem(3);
                }
            }

            & a{
                &::before{
                    content: '#';
                }

                text-decoration: none;
                color: var(--purple-92);

                @include hover{
                    opacity: .8;
                }
            }
        }

        &--big{
            & .news__item-img{
                width: 100%;
                height: rem(225);

                border-radius: rem(20);
            }

            & .news__item-content{
                margin-top: rem(29);
                margin-left: rem(5);
            }

            & .news__item-title{
                margin-top: rem(13);
            }

            & .news__item-text{
                margin-top: rem(15);
            }
        }

        &--middle{
            display: flex;

            border-radius: rem(20);
            overflow: hidden;

            & .news__item-img{

                width: rem(192);
            }

            & .news__item-content{
                padding: rem(21) rem(18) rem(17) rem(20);

                background-color: var(--grey-f7);
            }

            & .news__item-title{
                margin-top: rem(21);

                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & .news__item-text{
                margin-top: rem(23);

                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &__add{
        &-title{
            font-weight: 700;
            font-size: rem(16);
            color: var(--grey-55);
        }

        &-list{
            margin-top: rem(24);

            list-style-type: none;

            & li{
                &:not(:first-child){
                    margin-top: rem(10);
                }
            }

            & a{
                display: block;

                padding-left: rem(13);

                text-decoration: none;

                position: relative;
                &::before{
                    content: '';

                    position: absolute;
                    top: rem(4);
                    left: 0;

                    width: rem(7);
                    aspect-ratio: 1;

                    background: var(--purple-92);
                    border-radius: 50%;
                }

                &::after{
                    content: '';

                    position: absolute;
                    top: rem(25);
                    left: rem(3);

                    width: rem(1);
                    height: calc(100% - rem(25));

                    background: var(--purple-92);
                }

                @include hover{
                    opacity: .8;
                }
            }

            &-title{
                font-size: rem(12);
                color: var(--purple-92);
            }
            &-text{
                margin-top: rem(11);

                font-size: rem(14);
                line-height: 114%;
                color: var(--grey-55);
            }
        }
    }

    &__footer{
        margin-top: rem(40);

        text-align: center;
        font-size: rem(16);
    }
    &__loader{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &::before,
        &::after,
        & span {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--purple-92); /* Цвет точек */
            animation: blink 1.4s infinite ease-in-out both;
        }

        & span {
            display: inline-block;
        }

        &::before {
            animation-delay: -0.32s;
        }

        & span {
            animation-delay: -0.16s;
        }

        @keyframes blink {
            0%, 80%, 100% {
                opacity: 0.3;
                transform: scale(0.8);
            }
            40% {
                opacity: 1;
                transform: scale(1);
            }
        }

        &.is-hide{
            opacity: 0;
        }
    }

    &__pagination{
        margin-top: rem(63);

        display: flex;
        justify-content: center;
        align-items: start;

        border-top: var(--border-grey-ee-2);

        position: relative;
        &-button{
            position: absolute;
            top: 0;
            &:first-child{
                left: 0;
            }
            &:last-child{
                right: 0;
            }

            margin-top: rem(25);

            @include square(rem(31));

            display: flex;
            justify-content: center;
            align-items: center;

            border: var(--border-grey-ee-2);
            border-radius: rem(5);

            & svg{
                pointer-events: none;
            }
        }

        &-main{
            display: flex;
            gap: rem(10);

            font-weight: 700;
            font-size: rem(14);
            line-height: 143%;
            text-align: center;
            color: var(--black);

            & a{
                text-decoration: none;
                display: flex;

                padding: rem(11) rem(9);

                color: var(--grey);

                @include hover{
                    opacity: .8;
                }

                position: relative;
                &.is-active{
                    color: var(--purple-92);

                    &::after{
                        content: '';

                        position: absolute;
                        top: rem(-2);
                        left: 0;

                        width: 100%;
                        height: rem(2);

                        background-color: var(--purple-92);
                    }
                }
            }
        }
    }

    @include mobile{
        &__item{
            &--big{
                & .news__item-img{
                    height: rem(144);
                }

                & .news__item-content{
                    margin-left: rem(15);
                }

                & .news__item-date{
                    font-size: rem(16);
                }   

                & .news__item-title{
                    margin-top: rem(9);

                    font-size: rem(28);

                    -webkit-line-clamp: 2;
                }

                & .news__item-text{
                    margin-top: rem(8);

                    font-size: rem(18);
                    line-height: 156%;
                }

                & .news__item-btns{
                    margin-top: rem(10);
                    
                    flex-direction: column-reverse;
                    align-items: start;
                    gap: rem(25);
                }
            }

            &--middle{
                flex-direction: column;
                
                & .news__item-img{
                    width: 100%;
                    height: rem(144);
                }

                & .news__item-content{

                }

                & .news__item-title{

                }

                & .news__item-text{

                }
            }
        }
    }
}

@include tablet{
    .news__pagination{
        margin-top: rem(25);
        margin-bottom: rem(10);
    }
}