@use '../helpers' as *;

.page{
    margin-top: rem(24);
    margin-bottom: rem(120);

    &__title{
        margin-top: 24px;

        & span{
            color: var(--blue-03);
        }
    }

    &__description{
        max-width: rem(1025);
    }

    &__content{
        margin-top: rem(40);
    }
}