@use '../helpers' as *;

.page{
    margin-top: rem(20);
    padding-bottom: rem(57);

    &--flex{
        display: flex;
        gap: rem(30);
    }

    @include tablet{
        margin-top: rem(12);
    }
}