@use '../helpers' as *;

.paper{
    &__banner{
        &:not(:first-child){
            margin-top: rem(30);
        }

        &-img{
            width: 100%;
            height: rem(246);

            border-radius: rem(20);
            object-fit: cover;
            object-position: top;
        }

        &-content{
            margin-top: rem(17);

            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: rem(12);
            color: var(--grey-8b);
        }
        
        &-left{
            display: flex;
            align-items: center;
        }
        &-name{
            text-decoration: none;

            padding-left: rem(7);

            color: var(--grey-8b);

            @include hover{
                color: var(--purple-92);
            }
        }
        &-time{
            padding-left: rem(7);

            display: flex;
            align-items: center;

            &::after{
                padding-left: rem(2);
                content: ' мин.';
            }

            & span{
                padding-right: rem(5);

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &-tag{
            list-style-type: none;

            display: flex;
            align-items: center;

            & li{
                &:not(:first-child){
                }
            }

            & a{
                text-decoration: none;
                color: var(--grey-8b);

                &::before{
                    padding-right: rem(2);

                    content: '#';
                }

                @include hover{
                    color: var(--purple-92);
                }
            }
        }
    }

    &__text{
        &:not(:first-child){
            margin-top: rem(20);
        }

        font-size: rem(16);
        line-height: 137%;

        color: var(--grey-55);

        & a{
            text-decoration: underline;

            color: var(--grey-55);

            @include hover{
                color: var(--purple-92);
            }
        }
    }

    &__title{
        &:not(:first-child){
            margin-top: rem(30);
        }

        font-size: 24px;
        line-height: 92%;
    }

    &__img{
        &:not(:first-child){
            margin-top: rem(25);
        }

        width: 100%;

        border-radius: rem(20);
        object-fit: cover;
    }

    &__grey{
        &:not(:first-child){
            margin-top: rem(15);
        }

        font-size: rem(12);
        color: var(--grey-8b);

        & a{
            color: var(--grey-8b);

            @include hover{
                color: var(--purple-92);
            }
        }
    }

    &__line{
        &:not(:first-child){
            margin-top: rem(20);
        }

        padding: rem(10) 0 rem(16) rem(19);

        font-style: italic;
        font-weight: 300;
        font-size: rem(18);
        line-height: 144%;
        color: var(--grey-8b);

        position: relative;
        &::after{
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 1px;
            height: 100%;

            background: var(--linear-gradient-180);
        }

        &  a{
            color: var(--grey-8b);

            @include hover{
                color: var(--purple-92);
            }
        }
    }

    &__tags{
        &:not(:first-child){
            margin-top: rem(40);
        }

        list-style-type: none;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: rem(20);

        & li{

        }

        & a{
            text-decoration: none;
            padding: rem(8) rem(30);

            background: var(--linear-gradient);
            border-radius: rem(20);
            color: var(--white);

            @include hover{
                opacity: .8;
            }
        }

        & .share{
            padding: rem(7) rem(29);

            background: var(--background);
            border: 1px solid var(--purple-92);
        }
    }

    &__separation{
        &:not(:first-child){
            margin-top: rem(40);
        }

        display: flex;
        align-items: center;

        &-line{
            width: 100%;
            height: rem(1);

            background: var(--linear-gradient-0);
        }

        &-icon{
            flex-shrink: 0;

            margin-left: rem(16);

            @include square(rem(26))
        }
    }

    &__video{
        &:not(:first-child){
            margin-top: rem(40);
        }
    }

    &__menu{
        list-style-type: none;

        & li{
            &:not(:first-child){
                margin-top: rem(20);
            }
        }

        & a{
            text-decoration: none;
            font-size: rem(16);
            color: var(--black);

            @include hover{
                color: var(--purple-92);
            }
        }

        & div{
            &:not(:first-child){
                margin-top: rem(20);
            }
            
            width: 100%;
            height: rem(1);

            background: var(--linear-gradient);
        }

        & p{
            text-transform: uppercase;
            color: var(--purple-92);
        }
    }

    &__author{
        margin-top: rem(40);

        padding-top: rem(29);

        border-top: 1px solid var(--black-37);

        &-title{
            font-size: rem(21);
            color:var(--grey-55);

            &--next{
                margin-top: rem(29);
            }
        }

        &-wrapper{
            margin-top: rem(30);

            display: flex;
            flex-direction: column;
            gap: rem(45);
        }

        &-item{
            display: flex;
            align-items: center;
            gap: rem(32);
        }
        &-img{
            flex-shrink: 0;

            @include square(rem(206));

            border-radius: 20px;
            object-fit: cover;
        }
        
        &-content{

        }
        &-link{
            text-decoration: none;

            font-size: rem(21);
            color:var(--grey-55);

            transition: var(--transition);

            @include hover{
                color: var(--purple-92);
            }
        }
        &-text{
            margin-top: rem(16);

            font-size: rem(14);
            color:var(--grey-55);
        }
        &-btn{
            display: inline-block;
            text-decoration: none;

            margin-top: rem(23);

            padding: rem(6.5) rem(9);

            font-size: rem(12);
            font-weight: 400;
            color:var(--grey-55);

            border: 1px solid var(--purple-92);
            border-radius: 20px;

            transition: var(--transition);

            @include hover{
                opacity: .8;
            }
        }
    }

    &__content{
        padding: rem(20) rem(6) rem(20) rem(10);

        display: flex;
        flex-direction: column;
        gap: rem(20);

        border: 1px solid var(--black-37);
        border-radius: 20px;

        font-size: rem(16);

        &-title{
            padding-left: rem(25);
            
            color: var(--grey-8b);
        }

        &-list{
            list-style-type: none;

            display: flex;
            flex-direction: column;
            gap: rem(20);

            & li{
                padding-left: rem(25);

                position: relative;
                &::before{
                    content: '';

                    position: absolute;
                    top: rem(9.5);
                    left: 0;

                    width: rem(20);
                    height: rem(1);

                    background: var(--linear-gradient);
                }
            }

            & a{
                text-decoration: none;

                color: var(--grey-55);
                transition: var(--transition);

                @include hover{
                    color: var(--purple-92);
                }
            }
        }
    }
}