@use '../helpers' as *;

.presentation{
    position: relative;

    &__container{
        display: grid;
        grid-template-areas:"banner main"
                            "cards cards";
        grid-template-columns: calc(56% - rem(52.5)) calc(44% - rem(52.5));
        grid-template-rows: repeat(2, auto);
        gap: rem(105);
    }

    &__banner{
        grid-area: banner;

        & .banner{
            width: 100%;
        }

        position: relative;
        &-container{
            position: absolute;
            right: rem(52);
            bottom: rem(37);

            display: flex;
            flex-direction: column;
            align-items: start;

            &::before{
                content: '';

                position: absolute;
                top: -10%;
                left: -10%;

                width: 100%;
                height: 120%;
                border-radius: 100%;

                background-color: rgba(0, 0, 0, 0.5);
                filter: blur(200px);
                z-index: -1;
            }

            z-index: 3;
        }
        &-social{
            padding-top: rem(24);
        }
        &-text{
            max-width: rem(244);

            font-weight: 500;
            font-size: rem(19);
            line-height: 151%;
            color: var(--white);

            position: relative;
            &::after{
                @include square(rem(10));

                content: '';

                position: absolute;
                top: rem(8);
                left: rem(-29);

                border-radius: 50%;
                background-color: var(--blue);
            }
        }
    }

    &__content{
        grid-area: main;

        &-header{
            display: inline-block;

            position: relative;
            &::after{
                @include square(rem(69));

                content: '';

                position: absolute;
                top: rem(33);
                right: rem(-130);

                background-image: url(../../../public/svg/star.svg);
                background-repeat: no-repeat;
                background-size: 100%;
            }

            &-sub{
                padding-top: rem(35);

                font-weight: 500;
                font-size: rem(24);
                line-height: 145%;
                color: var(--white-f8);
            }
        }
        &-text{
            max-width: rem(554);

            padding-top: rem(50);

            font-size: rem(23);
            line-height: 151%;
            color: var(--white-da);

            & span{
                font-weight: 700;
            }
        }
    }

    &__cards{
        grid-area: cards;

        display: flex;
        gap: rem(35);

        &-item{
            width: calc(25% - rem(17.5));

            padding: rem(21.5) rem(30);
            border: var(--border);
            border-radius: rem(15);
        }

        &-number{
            font-family: var(--font-Outline);
            font-weight: 400;
            font-size: rem(50);
            line-height: 145%;
            letter-spacing: 0.08em;
            color: var(--blue);

            &::before{
                content: '/';
            }
        }
        &-text{
            padding-top: rem(20);

            font-weight: 500;
            font-size: rem(22);
            line-height: 145%;
            color: var(--white);
        }
    }

    @include laptop{
        &__container{
            grid-template-columns: calc(56% - rem(25)) calc(44% - rem(25));
            gap: rem(50);
        }

        &__cards{
            flex-wrap: wrap;
            
            &-item{
                width: calc(50% - rem(17.5));
            }
        }
    }

    @include tablet{
        &__container{
            grid-template-areas:"main"
                                "banner"
                                "cards";
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
        }

        &__content{
            &-text{
                max-width: 70%;
            }
        }
    }

    @include mobile{
        &__content{
            &-header{
                &::after{
                    @include square(rem(44));

                    top: rem(22);
                    right: -30%;
                }

                &-sub{
                    padding-top: rem(25);
                    font-size: rem(17);
                }
            }
            &-text{
                max-width: 100%;
            }
        }

        &__cards{
            margin: auto;
            width: 80%;

            &-item{
                width: 100%;
            }
        }
    }

    @include mobile-s{
        &__banner-container{
            right: rem(16);
            bottom: rem(16);
        }

        &__content{
            &-header{
                &::after{
                    top: rem(13);
                    // right: 13%;
                }
            }

            &-text{
                padding-top: rem(28);
                font-size: rem(15);
            }
        }

        &__banner{
            height: rem(522);

            & img{
                object-position: 20%;
            }

            &-container{
                right: rem(20);
                bottom: rem(34);
            }

            &-text{
                max-width: rem(208);
                font-size: rem(16);
            }
        }

        &__cards{
            width: 96%;
        }
    }
}