@use '../helpers' as *;

.question{
    position: relative;

    &__container{
        display: flex;
    }

    &__animate{
        width: 68%;

        &-content{
            display: flex;
        }
    }
    &__title{
        width: 54%;

        grid-area: title;
    }
    &__images{
        width: 46%;

        grid-area: images;

        position: relative;
        &::after{
            @include square(rem(51));

            content: '';

            position: absolute;
            top: 6%;
            left: 20%;

            background-image: url(../../../public/svg/star.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &::before{
            @include square(rem(27));

            content: '';

            position: absolute;
            top: 29%;
            right: 30%;

            background-image: url(../../../public/svg/star.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }


        &-main{
            @include square(rem(660));

            position: absolute;
            top: -16%;
            left: -32%;

            transform: rotate(-4deg);;
        }
    }

    &__cards{
        // grid-area: cards;

        width: 32%;

        display: flex;
        flex-direction: column;
        row-gap: rem(45);

        &-item{
            &:not(:last-child){
                padding-bottom: rem(45);
                border-bottom: var(--border);
            }
        }

        &-text{
            padding-top: rem(25);
            font-size: rem(20);
            line-height: 145%;
            color: var(--grey-cc);
        }
    }

    @include laptop{
        &__container{
            grid-template-areas:'title images'
                                'cards cards';
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: rem(40) rem(20);
        }

        &__images-main{
            margin-top: -30%;
            width: 100%;
            height: auto;
            position: static;
        }

        &__cards{
            flex-direction: row;
            flex-wrap: wrap;
            gap: rem(40);

            &-item{
                width: calc(50% - rem(20));
                

                &:last-child{
                    padding-bottom: rem(20);
                    border-bottom: var(--border);
                }
                &:not(:last-child){
                    padding-bottom: rem(20);
                }
            }
        }
    }

    @include mobile{
        &__container{
            grid-template-areas:'title'
                                'images'
                                'cards';
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            gap: rem(40) rem(20);
        }

        &__cards{
            flex-direction: column;

            &-item{
                width: 100%;
            }
        }

        &__images-main{
            margin-top: -20%;
            margin-left: -5%;
            margin-bottom: -20%;
        }
    }

    @include mobile-s{
        &__images-main{
            // margin: 0;

            // position: absolute;
            // top: rem(80);
            // left: auto;
            // right: rem(12);
        }
    }
}