@use '../helpers' as *;

.question{
    position: relative;

    &__blue{
        position: relative;
        &::after{
            content: '';

            position: absolute;
            top: rem(-150);
            left: rem(-430);

            border-radius: 900px;
            width: rem(631);
            height: rem(576);

            background-color: var(--blue-0c);
            transform: rotate(-166deg);
            filter: blur(300px);
            opacity: 0.4;
        }
        &::before{
            content: '';

            position: absolute;
            right: -400px;
            bottom: -320px;

            border-radius: 900px;
            width: rem(631);
            height: rem(576);

            background-color: var(--blue-0c);
            transform: rotate(-166deg);
            filter: blur(300px);
            opacity: 0.4;
        }
    }

    &__container{
        display: grid;
        grid-template-areas: 'title images cards';
        grid-template-columns: 37% 31% 32%;
    }

    &__title{
        grid-area: title;
    }

    &__images{
        grid-area: images;

        position: relative;
        &::after{
            @include square(rem(51));

            content: '';

            position: absolute;
            top: 6%;
            left: 20%;

            background-image: url(../../../public/svg/star.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &::before{
            @include square(rem(27));

            content: '';

            position: absolute;
            top: 29%;
            right: 30%;

            background-image: url(../../../public/svg/star.svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }


        &-main{
            @include square(rem(660));

            position: absolute;
            top: -16%;
            left: -32%;

            transform: rotate(-4deg);;
        }
    }

    &__cards{
        grid-area: cards;

        display: flex;
        flex-direction: column;
        row-gap: rem(45);

        &-item{
            &:not(:last-child){
                padding-bottom: rem(45);
                border-bottom: var(--border);
            }
        }

        &-text{
            padding-top: rem(25);
            font-size: rem(20);
            line-height: 145%;
            color: var(--grey-cc);
        }
    }
}