@use '../helpers' as *;

.questions{
    display: grid;
    grid-template-columns: rem(440) rem(764);
    justify-content: space-between;

    &__header{

    }
    &__title{
    }

    &__cards{

        &-item{
            &:not(:first-child){
                margin-top: fluid(50, 25);
            }
            &:not(:last-child){
                border-bottom: var(--border); 
            }
        }
        &-title{
            font-family: var(--second-family);
            font-weight: 800;
            font-size: fluid(37, 23);
            line-height: 145%;
            letter-spacing: 0.01em;

            color: var(--white-e6);
        }
        &-content{
            
        }
        &-text{
            padding-top: fluid(30, 20);
            padding-bottom: fluid(50, 36);

            font-weight: 400;
            font-size: fluid(20, 14);
            line-height: 154%;

            color: var(--grey-a9);

            & > span{
                font-weight: 600;
                color: var(--white);
            }
        }
    }
}