@use '../helpers' as *;

.question{
    &__slider{
        margin-top: rem(40);

        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-btns{
                display: flex;
                gap: rem(5);

                &-item{
                    @include square(rem(32));

                    background-color: var(--background);
                    border-radius: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    transition: var(--transition);

                    @include hover{
                        opacity: .8;
                    }
                }
            }
        }

        &-title{
            font-size:rem(28);
            color: var(--grey-55);
        }

        &-wrapper{
            overflow: hidden;

            margin-top: rem(20);

            padding-bottom: rem(40);

            position: relative;

            & .swiper-pagination-bullet{
                @include square(rem(13));

                background: var(--black-36);
                opacity: 1;

                &.swiper-pagination-bullet-active{
                    background: var(--purple-92);
                }
            }
        }

        &-card{
            
        }
    }

    &__form{
        margin: rem(50) auto 0 auto;

        width: rem(426);

        display: flex;
        flex-direction: column;
        gap: rem(20);

        &-title{
            font-size: rem(21);
            color: var(--grey-d9);
        }

        &-main{
            display: flex;
            flex-direction: column;
            gap: rem(20);
        }

        &-select{
            position: relative;

            display: flex;
            flex-direction: column;

            border: 1px solid var(--grey-8b);
            border-radius: rem(20);
            overflow: hidden;

            font-size: rem(12);

            &::after{
                content: '';

                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background: rgba(0, 0, 0, 0.20);
            }

            &-arrow{
                position: absolute;
                top: rem(11.8);
                right: rem(11.8);

                display: flex;
                justify-content: center;
                align-items: center;

                pointer-events: none;

                transition: var(--transition);
            }

            &-input{
                display: none;
            }

            &-button{
                padding: rem(8) rem(12);

                text-align: start;
                
                color: var(--white);
            }

            &-wrapper{
                height: 0;
                overflow: hidden;
            }

            &-list{
                list-style-type: none;

                padding: rem(5) 0;

                display: flex;
                flex-direction: column;

                & button{
                    width: 100%;

                    padding: rem(5) rem(10);

                    color: var(--white);
                    
                    text-align: start;
                }
            }

            &.is-active{
                & .question__form-select-arrow{
                    transform: rotate(180deg);
                }
            }

            &.is-pick{
                & .question__form-select-button{
                    color: var(--white);
                }
            }
        }

        &-item{
            display: flex;
            flex-direction: column;
            gap: rem(6);

            &-text{
                margin-left: rem(12);

                font-size: rem(12);
                color: var(--grey-d9);
            }

            &.is-false{
                .question__form-select,
                .question__form-input{
                    border-color: var(--red);
                }
            }
        }

        &-input{
            outline: none;

            padding: rem(8) rem(12);

            background: none;

            border: 1px solid var(--grey-8b);
            border-radius: rem(20);

            font-size: rem(12);

            color: var(--white);

            background: rgba(0, 0, 0, 0.20);

            &::placeholder{
                color: var(--white);
            }
        }

        &-textarea{
            outline: none;

            height: rem(130);

            padding: rem(8) rem(12);

            background: none;
            resize: none;

            border: 1px solid var(--grey-8b);
            border-radius: rem(20);

            font-size: rem(12);

            color: var(--white);

            background: rgba(0, 0, 0, 0.20);

            &::placeholder{
                color: var(--white);
            }
        }

        &-submit{
            padding: rem(8) rem(12);

            font-size: rem(12);
            color: var(--white);

            border-radius: rem(20);
        }

        &-accept{
            margin-left: 4px;

            display: flex;
            gap: rem(8);

            &-btn{
                flex-shrink: 0;
                
                margin-top: rem(3);

                @include square(rem(10));

                border-radius: 50%;

                border: 1px solid var(--purple-92);
                background: none;

                &.is-active{
                    background: var(--purple-92);
                }
            }

            &-text{
                font-size: rem(12);
                color: var(--grey-9a);

                & a{
                    text-decoration: none;

                    color: var(--grey-9a);

                    @include hover{
                        opacity: .8;
                    }
                }
            }

            &-input{
                display: none;
            }
        }
    }

    @include mobile{
        &__form{
            width: 100%;
        }
    }
}