@use '../helpers' as *;

.questions{
    display: grid;
    grid-template-columns: rem(440) rem(764);
    justify-content: space-between;

    &__header{

    }
    &__title{
    }

    &__cards{

        &-item{
            &:not(:first-child){
                margin-top: fluid(50, 38);
            }
            &:not(:last-child){
                border-bottom: var(--border); 
            }
        }
        &-title{
            font-family: var(--second-family);
            font-weight: 800;
            font-size: fluid(37, 23);
            line-height: 145%;
            letter-spacing: 0.01em;

            color: var(--white-e6);
        }
        &-content{
            margin-top: fluid(30, 20);
        }
        &-text{
            padding-top: fluid(30, 20);
            padding-bottom: fluid(50, 36);

            font-weight: 400;
            font-size: fluid(20, 14);
            line-height: 154%;

            color: var(--grey-a9);

            & > span{
                font-weight: 600;
                color: var(--white);
            }
        }

        &-button{
            display: none;
        }
    }

    @include laptop{
        grid-template-columns: 40% 50%;
    }

    @include tablet{
        display: flex;
        flex-direction: column;

        &__header{
            text-align: center;
        }

        &__cards{
            padding-top: rem(30);
            padding-bottom: rem(17);

            &-content{
                height: 0;
                overflow: hidden;

                transition: all var(--transition-duration);
            }

            &-item{
                position: relative;

                text-align: center;

                &.is-active .questions__cards-button{
                    transform: rotate(0deg);
                }

                border-bottom: var(--border); 
            }

            &-text{
                padding-top: 0
            }

            &-button{
                transform: rotate(45deg);
                @include square(rem(30));

                position: absolute;
                left: calc(50% - rem(15));
                bottom: rem(-15.5);
                

                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 50%;
                border: none;

                @include hover{
                    opacity: .8;
                }

                & img{
                    @include square(rem(10));
                }
            }
        }
    }
}