@use '../helpers' as *;

.reviews{
    margin-top: rem(40);

    &__content{
        display: flex;
        flex-wrap: wrap;
        gap: rem(20);

        & .trust__documents-item{
            width: calc(33% - rem(13.33));
            height: rem(566);
        }
    }

    &__btn{
        margin-top: rem(20);

        display: flex;
        justify-content: center;
    }
}