@use '../helpers' as *;

.section{
    // overflow: hidden;
    max-width: 100vw;
    padding-top: fluid(130, 90);

    &__star{
        display: flex;
        justify-content: center;
        align-items: center;

        &--start{
            justify-content: start;
        }

        &-item{
            &:not(:first-child){
                margin-left: rem(25);
            }

            &--small{
                @include square(20);
                & > svg{
                    width: 100%;
                    height: 100%
                }
            }
            &--big{
                @include square(31);

                & > svg{
                    width: 100%;
                    height: 100%
                }
            }
        }
    }

    &__title{
        margin: rem(40) auto 0 auto;

        text-align: center;
    }

    &__sub{
        margin-top: rem(45);

        display: flex;
        justify-content: center;
        align-items: center;

        &-item:not(:first-child){
            margin-left: rem(35);
        }

        &-text{
            font-weight: 300;
            font-size: rem(25);
            line-height: 145%;
            color: var(--grey-a9);

            & > span{
                font-weight: 600;
                color: var(--white);
            }
        }
        &-icon{
            @include square(rem(26));

            display: flex;
            justify-content: center;
            align-items: center;

            & > svg{
                @include square(100%);
            }
        }

        &-list{
            list-style-type: none;

            display: flex;
            align-items: center;

            & > li:not(:first-child){
                padding-left: rem(9);

                & p::before{
                    content: '/';
                }
            }
        }
    }

    &__content{
        margin-top: rem(80);
    }
}