@use '../helpers' as *;

.seo{
    &__block{
        position: relative;
        &::before{
            content: '';

            position: absolute;
            left: 0;
            top: 0;

            width: 100%;
            height: 100%;

            background: linear-gradient(to bottom, transparent, var(--black));

            transition: all var(--transition-duration);
        }
    }

    &.is-active &__block::before{
        opacity: 0;
    }

    &__wrapper{
        height: fluid(66, 54); /* или height: 20px; */
        overflow: hidden; /* чтобы текст не выходил за границы */

        transition: all var(--transition-duration);
    }

    &__active{
        margin-top: fluid(20, 10);

        background-color: var(--black);

        @include hover{
            opacity: .8;
        }
    }

    
}