@use '../helpers' as *;

.teachers{
    &::after{
        content: '';

        position: absolute;
        left: 0;
        bottom: 0;

        width: rem(504);
        height: rem(504);

        background-color: var(--blue-0c);
        border-radius: 900px;
        filter: blur(250px);
        transform: rotate(45deg);
        opacity: 0.45;
    }

    &__item{
        &-banner{
            height: rem(549);
            width: rem(462);

            position: relative;
            &-flag{
                @include square(fluid(40, 30));

                position: absolute;
                top: fluid(30, 19);
                right: fluid(30, 16);

                z-index: 3;

                background-image: url(../../../public/svg/flag.svg);
                background-color: var(--white);
                background-repeat: no-repeat;
                background-size: 100%;
                border-radius: 50%;

                @include hover{
                    opacity: .8;
                }
            }
            &-description{
                opacity: 0;

                transition: all var(--transition-duration);

                &.is-active{
                    opacity: 1;
                }

                display: flex;
                flex-direction: column;
                justify-content: center;

                border-radius: rem(35);
                overflow: hidden;

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                z-index: 2;

                padding: 0 rem(58);

                display: flex;
                flex-direction: column;

                &::after{
                    content: '';

                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;

                    background-color: var(--black);
                    opacity: .55;

                    z-index: -1;
                }

                &-star{
                    @include square(rem(50));

                    margin: 0 auto;
                }

                &-text{
                    &:not(:first-child){
                        padding-top: fluid(30, 20);
                    }

                    font-size: fluid(24, 20);
                    line-height: 155%;
                    text-align: center;
                    color: var(--white);

                    & > span{
                        font-weight: 600;
                    }
                }
            }
        }

        &-content{
            margin-top: fluid(40, 30);
            
            display: flex;
            align-items: center;
        }
        &-name{
            padding-right: fluid(33, 28);

            font-weight: 500;
            font-size: fluid(27, 18);
            line-height: 155%;
            color: var(--white);
        }
        &-value{
            padding-left: fluid(33, 28);

            font-weight: 300;
            font-size: fluid(24, 15);
            line-height: 155%;
            color: var(--grey-a9);

            position: relative;
            &::before{
                @include square(rem(7));
                border-radius: 50%;
                background-color: var(--blue);

                content: '';

                position: absolute;
                top: calc(50% - rem(3.5));
                left: rem(-3.5);
            }
        }
    }

    &__button{
        margin-top: fluid(70, 50);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include laptop{
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @include tablet{
        &::after{
            display: none;
        }
    }

    @include mobile{
        &__item{
            &-banner{
                width: 100%;
                height: 105.6vw;
            }
        }
    }
}