@use '../helpers' as *;

.trust{
    padding: rem(120) 0;

    background-color: var(--white);

    &__header{
        & span{
            color: var(--blue-03);
        }
    }

    &__companies{
        margin-top: rem(40);

        display: flex;
        gap: 12px;

        &-item{
            flex-shrink: 0;

            text-decoration: none;

            width: 250px;

            padding: rem(12) rem(16) rem(22);

            display: flex;
            flex-direction: column;
            gap: rem(10);

            &-img{
                width: 100%;
                height: rem(76);

                display: flex;
                justify-content: center;
                align-items: center;

                & img{
                    max-width: 100%;
                    height: 100%;
                }
            }

            &-link{
                display: flex;
                justify-content: center;
                align-items: center;

                opacity: 0;

                transition: var(--transition-all);
            }
            &-name{
                @include fluid-text(14, 14);
                font-weight: 600;
                line-height: 129%;

                color: var(--black);
            }
            &-icon{
                margin-left: rem(4);

                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover .trust__companies-item-link{
                opacity: 1;
            }
        }

        overflow: hidden;

        position: relative;
        &::after{
            content: '';

            position: absolute;
            top: 0;
            right: 0;

            width: rem(50);
            height: 100%;

            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        }
        &::before{
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: rem(50);
            height: 100%;

            background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        }
    }

    &__documents{
        margin-top: rem(16);

        &-item{
            cursor: pointer;

            width: 328px;
            height: rem(464);

            border: var(--border);

            &-img{
                width: 100%;
                height: 100%;
            }

            position: relative;
            &-description{
                position: absolute;
                left: 0;
                bottom: 0;

                width: 100%;
                min-height: rem(144);

                padding: rem(22);

                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);

                display: flex;
                flex-direction: column;
                justify-content: end;
            }
            &-company{
                color: var(--grey-6d);
            }
            &-name{
                padding-top: rem(8);
            }

            &::after{
                content: '';

                position: absolute;
                top: -2px;
                left: -2px;

                width: calc(100% + 4px);
                height: calc(100% + 4px);

                background-color: var(--blue-03-10);

                border: 2px solid var(--blue-03);

                z-index: 2;

                transition: var(--transition-all);
                opacity: 0;
            }

            &::before{
                content: '';

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                z-index: 2;

                background-image: url(../../../assets/svg/trust-open.svg);
                background-repeat: no-repeat;
                background-position: center;

                transition: var(--transition-all);
                opacity: 0;
            }

            &:hover{
                &::after,&::before{
                    opacity: 1;
                }
            }
        }

        position: relative;
        &-left{
            position: absolute;
            left: 0;
            top: 0;

            height: 100%;

            display: flex;
            align-items: center;

            z-index: 10;

            background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        }

        &-right{
            position: absolute;
            right: 0;
            top: 0;

            height: 100%;

            display: flex;
            align-items: center;

            z-index: 10;

            background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        }
    }
}