@use '../helpers' as *;

.btn{
    text-decoration: none;
    background: none;
    border: none;

    & .icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-menu{
        @include square(rem(60));

        padding: rem(19.5) rem(10) rem(20.5) rem(10);

        display: flex;
        flex-direction: column;

        & span{
            height: rem(2);

            background-color: var(--white);

            &:not(:first-child){
                margin-top: rem(7);
            }

            &:nth-child(2){
                width: rem(23);
            }
            &:nth-child(3){
                width: rem(35);
            }

            transition: var(--transition-all);
        }

        @include hover{
            & span{
                &:nth-child(2){
                    width: 100%;
                }
                &:nth-child(3){
                    width: 100%;
                }
            }
        }

        &.is-active{
            & span{
                &:nth-child(1){
                    transform: translateY(rem(8.5)) rotate(-45deg);
                }
                &:nth-child(2){
                    width: 0;
                }
                &:nth-child(3){
                    width: 100%;
                    transform: translateY(rem(-8.5)) rotate(45deg);
                }
            }
        }
    }

    &-a-menu{
        @include fluid-text(16, 16);
        font-weight: 600;
        line-height: 125%;
        color: var(--grey-b9);

        transition: var(--transition-all);

        @include hover{
            color: var(--white);
        }
    }

    &-header{
        @include fluid-text(16, 16);
        padding: rem(35) rem(30) rem(21) rem(20);

        display: flex;
        align-items: center;

        font-weight: 600;
        line-height: 125%;
        color: var(--white);

        & .icon{
            margin-right: rem(8);
        }

        overflow: hidden;

        position: relative;
        &::after{
            content: '';

            z-index: -2;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: var(--blue-03);
        }
        &::before{
            content: '';

            z-index: -1;

            position: absolute;
            top: 100%;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: var(--white);
            opacity: .1;

            transition: var(--transition-all);
        }

        @include hover{
            &::before{
                top: 0;
            }
        }
    }

    &-hero{
        @include fluid-text(16, 16);
        font-weight: 600;
        line-height: 125%;
        color: var(--white);
        
        display: flex;

        overflow: hidden;
        
        & span{
            padding: rem(25) rem(30);
        }
        
        & .icon{
            padding: rem(25);
            transition: var(--transition-all);
        }

        position: relative;
        &::after{
            content: '';

            z-index: -2;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background-color: var(--blue-03);
        }
        &::before{
            content: '';

            z-index: -1;

            position: absolute;
            right: calc(-100% + rem(70));
            width: 100%;
            height: 100%;

            background-color: var(--white);
            opacity: .1;

            transition: var(--transition-all);
        }

        @include hover{
            &::before{
                right: 0;
            }

            & .icon{
                transform: rotate(45deg);
            }
        }
    }

    &-next{
        display: flex;
        align-items: center;

        @include fluid-text(16, 16);
        font-weight: 600;
        line-height: 125%;
        color: var(--white);

        & .icon{
            padding-left: rem(8);
            transition: var(--transition-all);
        }

        @include hover{
            & .icon{
                transform: translateX(rem(5))
            }
        }
    }

    &-slider{
        @include square(rem(40));

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid var(--blue-03-10);
        transition: var(--transition-all);

        & svg{
            @include square(rem(12.8));
        }

        @include hover{
            border: 1px solid rgba($color: #000000, $alpha: 0);
            background: var(--blue-03-20);
        }

        &--big{
            @include square(rem(50));

            & svg{
                @include square(rem(16));
            }
        }

        &-wrapper{
            display: flex;
            align-items: center;

            gap: rem(8);
        }
    }

    &-main{
        display: flex;
        align-content: center;

        & .right,
        & .left{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & .left{
            padding-right: rem(8);
        }

        & .right{
            padding-left: rem(8);
        }

        transition: var(--transition-all);
        &::after,
        &::before,
        & svg *{
            transition: var(--transition-all);
        }

        &--40{
            height: rem(42);

            padding: rem(12) rem(16);

            &.icon-right{
                padding-right: rem(12);
            }

            @include fluid-text(14, 14);
            font-weight: 600;
            line-height: 129%;
        }

        &--50{
            height: rem(50);

            padding: rem(15) rem(22);
            &.icon-right{
                padding-right: rem(15);
            }

            @include fluid-text(16, 16);
            line-height: 125%;
            font-weight: 600;
        }

        &--blue{
            color: var(--white);
            
            position: relative;
            &::after{
                content: '';

                z-index: -2;

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-color: var(--blue-03);
            }

            &::before{
                content: '';

                z-index: -1;

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-color: var(--white);
                opacity: 0;
            }

            @include hover{
                &::before{
                    opacity: .2;
                }
            }
        }

        &--dirty{
            color: var(--blue-03);
            
            position: relative;
            &::after{
                content: '';

                z-index: -2;

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-color: var(--blue-03-10);
            }

            &::before{
                content: '';

                z-index: -1;

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-color: var(--blue-03);
                opacity: 0;
            }

            @include hover{
                color: var(--white);
                &::before{
                    opacity: 1;
                }

                & svg *{
                    fill: var(--white);
                }
            }
        }

        &--white{
            color: var(--blue-03);
            border: 1px solid var(--blue-03-10);

            & svg *{
                fill: var(--blue-03);
            }

            position: relative;
            &::before{
                content: '';

                z-index: -1;

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                opacity: 0;
                background-color: var(--blue-03-20);
            }

            @include hover{
                border: 1px solid var(--blue-03-20);

                &::before{
                    opacity: 1;
                }

                & svg *{
                    fill: var(--blue-03);
                }
            }
        }

        &--footer{
            overflow: hidden;

            color: var(--white);
            border: 1px solid var(--white);

            & svg *{
                fill: var(--white);
            }

            position: relative;
            &::before{
                content: '';

                z-index: -1;

                position: absolute;
                top: 100%;
                left: 0;

                width: 100%;
                height: 100%;

                background-color: var(--white);
            }

            @include hover{
                color: var(--blue-03);

                &::before{
                    top: 0;
                }

                & svg *{
                    fill: var(--blue-03);
                }
            }
        }
    }

    &--p-100{
        width: 100%;
        

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.input{
    height: rem(50);

    display: flex;
    flex-direction: column-reverse;

    padding: rem(13) rem(19) rem(13) rem(13);

    & span{
        @include fluid-text(16, 16);
        font-weight: 500;
        line-height: 150%;
        color: var(--grey-6d);
    }

    & input{
        border: none;

        height: 0;

        outline: none;
    }

    position: relative;
    &::after{
        content: '';

        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 2px;

        background-color: rgba(185, 201, 217, 0.5);
    }

    &.is-hover{
        &::after{
            background: var(--grey-b9);
        }

        & span{
            color: var(--black);
        }
    }

    &.is-active{
        padding-top: 0;
        padding-bottom: rem(13);

        &::after{
            background: var(--black);
        }

        & span{
            font-weight: 600;
            font-size: 12px;
            line-height: 133%;
            color: var(--grey-b9);
        }

        & input{
            height: rem(21);

            color: var(--black);

            background: none;
        }
    }
}