@use '../helpers' as *;

.btn{
    text-decoration: none;
    background: none;
    border: none;

    & .icon{
        margin-right: rem(8);
    }

    &-menu{
        @include square(rem(60));

        padding: rem(19.5) rem(10) rem(20.5) rem(10);

        display: flex;
        flex-direction: column;

        & span{
            height: rem(2);

            background-color: var(--white);

            &:not(:first-child){
                margin-top: rem(7);
            }

            &:nth-child(2){
                width: rem(23);
            }
            &:nth-child(3){
                width: rem(35);
            }

            transition: var(--transition-all);
        }

        @include hover{
            & span{
                &:nth-child(2){
                    width: 100%;
                }
                &:nth-child(3){
                    width: 100%;
                }
            }
        }

        &.is-active{
            & span{
                &:nth-child(1){
                    transform: translateY(rem(8.5)) rotate(-45deg);
                }
                &:nth-child(2){
                    width: 0;
                }
                &:nth-child(3){
                    width: 100%;
                    transform: translateY(rem(-8.5)) rotate(45deg);
                }
            }
        }
    }

    &-a-menu{
        @include fluid-text(16, 16);
        font-weight: 600;
        line-height: 125%;
        color: var(--grey-b9);

        transition: var(--transition-all);

        @include hover{
            color: var(--white);
        }
    }

    &-header{
        @include fluid-text(16, 16);
        padding: rem(35) rem(30) rem(21) rem(20);

        display: flex;
        align-items: center;

        font-weight: 600;
        line-height: 125%;
        color: var(--white);

        & .icon{
            margin-right: rem(8);
        }

        overflow: hidden;

        position: relative;
        &::after{
            content: '';

            z-index: -2;

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: var(--blue-03);
        }
        &::before{
            content: '';

            z-index: -1;

            position: absolute;
            top: 100%;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: var(--white);
            opacity: .1;

            transition: var(--transition-all);
        }

        @include hover{
            &::before{
                top: 0;
            }
        }
    }
}