@use '../helpers' as *;


.watch{
    &__title{
        & > span span::after{
            display: none;
        }
    }

    &__video{
        margin: rem(45) auto 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        &-content{
            padding-left: rem(52);

            &-title{
                font-weight: 300;
                font-size: rem(20);
                line-height: 136%;
                color: var(--grey-a9);
            }
            &-subtitle{
                padding-top: rem(14);
                font-weight: 200;
                font-size: rem(14);
                line-height: 136%;
                color: var(--grey-a9);
            }
        }
    }

    &__item{
        &:not(:first-child){
            margin-top: fluid(60, 46);
        }

        &-sub{
            margin-top: fluid(40, 31);

            display: flex;
            align-items: center;
        }
        &-text{
            padding-left: fluid(37, 27);

            font-weight: 500;
            font-size: fluid(27, 17);
            line-height: 155%;
            color: var(--white);

            position: relative;
            &::before{
                @include square(rem(7));
                border-radius: 40%;
                background-color: var(--blue);

                content: '';
                position: absolute;
                left: 0;
                top: calc((100% - 7px) / 2);
            }
        }
        &-controller{
            margin-left: rem(55);
        }

        & .swiper-slide{
            width: auto !important;
        }
    }

    &__block{
        &--small{
            width: 23.1vw;
            aspect-ratio: 1;
        }
        &--big{
            width: 48vw;
            aspect-ratio: 16 / 9;
        }
    }

    @include tablet{
        &__title{
            & > span {
                white-space: initial;
                
                &::after{
                    display: none;
                }

                & > span::after{
                    display: block;
                }
            }
        }

        &__block{
            &--small{
                width: 56vw;
            }
            &--big{
                width: 100vw;
            }
        }
    }
}