@use '../helpers' as *;


.watch{
    &__title{
        & > span span::after{
            display: none;
        }
    }

    &__video{
        margin: rem(45) auto 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        &-content{
            padding-left: fluid(52, 30);

            &-title{
                font-weight: 300;
                font-size: fluid(20, 14);
                line-height: 136%;
                color: var(--grey-a9);
            }
            &-subtitle{
                padding-top: fluid(14, 10);
                font-weight: 200;
                font-size: rem(12);
                line-height: 136%;
                color: var(--grey-a9);
            }
        }
    }

    &__item{
        &:not(:first-child){
            margin-top: fluid(60, 46);
        }

        &-sub{
            margin-top: fluid(40, 31);

            display: flex;
            align-items: center;
        }
        &-text{
            padding-left: fluid(37, 27);

            font-weight: 500;
            font-size: fluid(27, 17);
            line-height: 155%;
            color: var(--white);

            position: relative;
            &::before{
                @include square(rem(7));
                border-radius: 40%;
                background-color: var(--blue);

                content: '';
                position: absolute;
                left: 0;
                top: calc((100% - 7px) / 2);
            }
        }
        &-controller{
            margin-left: rem(55);
        }

        & .swiper-slide{
            width: auto !important;
        }
    }

    &__block{
        height: 24.5vw;

        &--small{
            width: 23.1vw;
        }
        &--big{
            width: 48vw;
        }
    }

    @include tablet{
        &__title{
            & > span {
                white-space: initial;
                
                &::after{
                    display: none;
                }

                & > span::after{
                    display: block;
                }
            }
        }

        &__block{
            height: 65vw;
            &--small{
                width: 56vw;

            }
            &--big{
                width: 100vw;
            }
        }

        &__item{
            &-controller{
                margin-left: auto;
            }
        }
    }
}