@use '../helpers' as *;


.whom{
    display: grid;
    grid-template-columns: rem(524) rem(665);
    justify-content: space-between;

    &__header{

    }
    &__title{
        &-line{
            white-space: nowrap;
        }
    }

    &__cards{
        &-item{
            &:not(:first-child){
               margin-top: fluid(60, 45);
            }
        }
        &-banner{
            & .banner{
                width: 100%;
                aspect-ratio: 16 / 9;
            }
        }
        &-content{
            padding: fluid(30, 20) fluid(12.6, 8) 0 fluid(12.6, 8);
        }
        &-title{
            font-family: var(--second-family);
            font-weight: 800;
            font-size: fluid(37, 23);
            line-height: 96%;
            letter-spacing: 0.01em;
        }
        &-text{
            padding-top: fluid(30, 20);

            font-weight: 300;
            font-size: fluid(20, 14);
            line-height: 150%;
            color: var(--grey-a9);

            & span{
                font-weight: 600;
                color: var(--white);
            }
        }
    }

    @include laptop{
        grid-template-columns: 40% 50%;
        grid-column: rem(30);
    }

    @include tablet{
        display: flex;
        flex-direction: column;

        &__header{
            text-align: center;
        }
        &__cards{
            margin-top: rem(45);

            text-align: center;
        }
    }
}