@use '../helpers' as *;

.why-us{
    position: relative;

    &::after{
        content: '';

        position: absolute;
        top: rem(-250);
        right: rem(-350);

        width: rem(320);
        height: rem(410);

        background-color: var(--blue-0c);
        border-radius: 900px;
        filter: blur(200px);
        transform: rotate(45deg);
        opacity: 0.45;
    }

    &__title{
        & > span > span::after,
        & > span > span > span::after{
            display: none;
        }
    }
    &__item{
        &:not(:first-child){
            margin-top: fluid(90, 40);
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        &--reverse{
            flex-direction: row-reverse;
        }


        &-content{
            width: 34%;
        }
        &-number{
            &::before{
                content: '// ';
            }

            @include fluid-text(55, 30);
            font-family: var(--second-family);
            font-weight: 800;
            line-height: 110%;
            letter-spacing: 0.07em;
            -webkit-text-stroke: rem(1) var(--blue);
            color: transparent;
        }
        &-title{
            @include fluid-text(40, 23);
            margin-top: fluid(30, 20);

            font-family: var(--second-family);
            line-height: 109%;
            letter-spacing: 0.01em;
            color: var(--white-e6);
        }
        &-text{
            @include fluid-text(20, 14);
            margin-top: fluid(30, 20);

            line-height: 150%;
            color: var(--grey-a9);

            & > span{
                font-weight: 600;
                color: var(--white);
            }
        }

        &-banner{
            width: 61%;
            aspect-ratio: 16 / 7.3;
        }
    }

    @media screen and (max-width: 1224px) {
        &__title{
            & > span{
                white-space: initial;

                &::after{
                    display: none;
                }
            }
            & > span > span::after{
                display: block;
            }
            & > span > span > span::after{
                display: none;
            }
        }
    }

    @include tablet{
        &::after{
            display: none;
        }

        & > span::after{
            display: none;
        }
        & > span > span::after{
            display: block;
        }

        &__item{
            display: flex;
            flex-direction: column;

            &-content{
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: center;

                text-align: center;
            }

            &-banner{
                margin-top: rem(30);

                width: 100%;
            }

            &-title{
                line-height: 128%;
                letter-spacing: 0.02em;
            }
        }
    }

    @include mobile{
        &__title{
            & > span > span{
                white-space: initial;

                &::after{
                    display: none;
                }
            }
            & > span > span > span::after{
                display: block;
            }

            & > span > span:last-child::after{
                display: block;
            }
        }
    }
}