@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Regular"),
      local("Gilroy-Regular"),
      url("../fonts/Gilroy-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Medium"),
      local("Gilroy-Medium"),
      url("../fonts/Gilroy-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy SemiBold"),
      local("Gilroy-SemiBold"),
      url("../fonts/Gilroy-SemiBold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Onest";
    src: local("Onest Light"),
      local("Onest-Light"),
      url("../fonts/Onest-Light.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "Onest";
    src: local("Onest Regular"),
      local("Onest-Regular"),
      url("../fonts/Onest-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Steelfish";
    src: local("Steelfish Regular"),
      local("Steelfish-Regular"),
      url("../fonts/Steelfish-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Steelfish";
    src: local("Steelfish Bold"),
      local("Steelfish-Bold"),
      url("../fonts/Steelfish-Bold.woff") format("woff");
    font-weight: 700;
}