@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"),
      local("Roboto-Regular"),
      url("../fonts/Roboto-Regular.ttf") format("ttf");
      font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto SemiBold"),
      local("Roboto-SemiBold"),
      url("../fonts/Roboto-SemiBold.ttf") format("ttf");
      font-weight: 500;
}