@use 'helpers' as *;

body{
    @include fluid-text(18, 14);

    font-family: var(--font-family);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-family: var(--second-family);
    font-weight: 700;
    color: var(--white-f8);
}

h1, .h1{
    @include fluid-text(160, 74);
    line-height: 134%;
    letter-spacing: 0.01em;
}
h2, .h2{
    @include fluid-text(130, 58);
    line-height: 126%;
    letter-spacing: 0.02em;
}
h3, .h3{
    @include fluid-text(100, 55);
    line-height: 126%;
    letter-spacing: 0.02em;
}
h4, .h4{
    @include fluid-text(90, 45);
    line-height: 134%;
    letter-spacing: 0.02em;
}
h5, .h5{
    @include fluid-text(53, 26.5);
    line-height: 145%;
    letter-spacing: 0.01em;
}
h6, .h6{
    @include fluid-text();
}

.text-up{
    text-transform: uppercase;
}

.text-line{
    white-space: nowrap;

    position: relative;
    z-index: 3;
    &::after{
        content: '';

        position: absolute;
        left: 0;
        bottom: 4%;

        width: 100%;
        height: 14%;

        background-color: var(--blue);

        z-index: -1;
        transform: rotate(-0.55deg);
    }
}
.text-blue{
    color: var(--blue);
}
.text-nowrap{
    white-space: nowrap;
}

a,
button,
label,
input,
textarea,
select,
svg *{
    transition-duration: var(--transition-duration);
}

a,
button{
    @include hover{
        opacity: .8;
    }
}

a{
    @include fluid-text(20, 16);
    line-height: 145%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #12aee7;
}

body{
    background-color: var(--black);

    &.is-stop{
        overflow: hidden;
    }
}

main{
    position: relative;
}

:focus-visible{
    outline: rem(2) dashed #000;
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

.section{
    overflow: hidden;
    max-width: 100vw;
    padding-top: rem(150);

    @include laptop{
        padding-top: rem(90);
    }

    @include mobile{
        padding-top: rem(50);
    }
}



.wrapper{
    padding-top: rem(112);

    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    @include mobile{
        padding-top: rem(80);
    }
}