@use 'helpers' as *;

:root{
    // color
    --dark: #222224;
    --white: #fff;
    --orange: #EA4C14;
    --grey: #efefef;

    // font
    --font-family: "Roboto", sans-serif;

    // width and padding
    --container-width: #{rem(1366)};
    --container-padding-x: #{rem(16)};

    // animation
    --transition-duration: .2s;
}