@use 'helpers' as *;

:root{
    // color
    --black:#111821;
    --blue-03:#037DE5;
    --blue-03-10: rgba(3, 125, 229, .1);
    --blue-03-20:rgba(3, 125, 229, .2);
    --grey-6d:#6D7384;
    --grey-b9:#B9C9D9;
    --grey-b9-30: rgba(185, 201, 217, 0.3);
    --grey-eb:#EBEDF1;
    --grey-f8:#F8F8F8;
    --white:#FFFFFF;
    
    // font
    --font-family: 'Involve';
    --second-family: 'Involve-Oblique';

    // width and padding
    --container-width: #{rem(1240)};
    --container-padding-x: #{rem(0)};

    // animation
    --transition-duration: .3s;
    --transition-all: all var(--transition-duration) ease;

    // add
    --border: 2px solid var(--blue-03-10);

}