<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Name</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <link rel="stylesheet" href="./src/styles/main.scss">
</head>

<body>

  <main>
    <div class="global container">
      <div class="academy__wrapper">
        <div class="academy__banner academy__banner--single">
          <div class="academy__banner-content">
            <h1 class="academy__banner-title">
              О проекте Bitbanker Space
            </h1>
          </div>
        </div>

        <div class="about">
          <ul class="about__link">
            <li><a href="">Миссия</a></li>
            <li><a href="">Команда</a></li>
            <li><a href="">Контакты</a></li>
            <li><a href="">Документы</a></li>
          </ul>

          <div class="about__mission">
            <p class="about__mission-title">
              Пространство, объединяющее экспертизу, опыт и знания
            </p>

            <div class="about__mission-text">
              <p>Bitbanker Space — информационно-аналитическая платформа о технологиях, финансах, криптовалютах и регулировании.</p>
              
              <p>Платформа работает как независимый центр знаний, где специалисты анализируют ключевые тенденции рынка и объясняют трансформацию финансовых и технологических процессов доступным языком.</p>
              
              <p><span>Наша миссия</span> — создание авторитетного русскоязычного медиахаба, который объединяет экспертов, компании и энтузиастов, формируя осознанный подход к технологиям и инвестициям.</p>
            </div>
          </div>

          <div class="about__team">
            <p class="about__team-title">
              Наша команда
            </p>

            <div class="about__team-main">
              <div class="about__team-item">
                <div class="about__team-item-img">
                  <div class="about__team-item-img-black">
                    <img src="./assets/img/banner-1.png" alt="">
                  </div>
                </div>

                <div class="about__team-item-content">
                  <div class="about__team-item-header">
                    <p class="about__team-item-name">
                      Игорь Марутти
                    </p>

                    <p class="about__team-item-job">
                      — главный дизайнер
                    </p>
                  </div>

                  <div class="about__team-item-footer">
                    Отвечает за визуальный стиль и целостность дизайна платформы.
                  </div>
                </div>
              </div>

              <div class="about__team-item">
                <div class="about__team-item-img">
                  <div class="about__team-item-img-black">
                    <img src="./assets/img/banner-1.png" alt="">
                  </div>
                </div>

                <div class="about__team-item-content">
                  <div class="about__team-item-header">
                    <p class="about__team-item-name">
                      Игорь Марутти
                    </p>

                    <p class="about__team-item-job">
                      — главный дизайнер
                    </p>
                  </div>

                  <div class="about__team-item-footer">
                    Отвечает за визуальный стиль и целостность дизайна платформы.
                  </div>
                </div>
              </div>

              <div class="about__team-item">
                <div class="about__team-item-img">
                  <div class="about__team-item-img-black">
                    <img src="./assets/img/banner-1.png" alt="">
                  </div>
                </div>

                <div class="about__team-item-content">
                  <div class="about__team-item-header">
                    <p class="about__team-item-name">
                      Игорь Марутти
                    </p>

                    <p class="about__team-item-job">
                      — главный дизайнер
                    </p>
                  </div>

                  <div class="about__team-item-footer">
                    Отвечает за визуальный стиль и целостность дизайна платформы.
                  </div>
                </div>
              </div>

              <div class="about__team-item">
                <div class="about__team-item-img">
                  <div class="about__team-item-img-black">
                    <img src="./assets/img/banner-1.png" alt="">
                  </div>
                </div>

                <div class="about__team-item-content">
                  <div class="about__team-item-header">
                    <p class="about__team-item-name">
                      Игорь Марутти
                    </p>

                    <p class="about__team-item-job">
                      — главный дизайнер
                    </p>
                  </div>

                  <div class="about__team-item-footer">
                    Отвечает за визуальный стиль и целостность дизайна платформы.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="about__prequel">
            <p class="about__prequel-title">Мы всегда на связи</p>

            <p class="about__prequel-text">
              Если у вас есть идеи, предложения, отзывы или желание присоединиться к команде, в том числе в роли независимого эксперта, — пишите,  мы открыты к диалогу.
            </p>
          </div>

          <div class="about__call">
            <div class="about__call-left">
              <div class="about__call-item">
                <p class="about__call-title">Общие вопросы</p>
                <a href="maito:info@bitbanker.space" class="about__call-link">info@bitbanker.space</a>
                <p class="about__call-text">Почта для обращения по вопросам, связанным <br>с проектом.</p>
              </div>

              <div class="about__call-item">
                <p class="about__call-title">Редакция</p>
                <a href="maito:editor@bitbanker.space" class="about__call-link">editor@bitbanker.space</a>
                <p class="about__call-text">Почта для обращения по вопросам, связанным <br>с работой редакции.</p>
              </div>

              <div class="about__call-item">
                <p class="about__call-title">Коммерческое сотрудничество</p>
                <a href="maito:marketing@bitbanker.space" class="about__call-link">marketing@bitbanker.space</a>
                <p class="about__call-text">Почта для обращения по вопросам, связанным <br>с работой редакции.</p>
              </div>
            </div>

            <div class="about__call-right">
              <div class="about__call-header">
                <div class="about__call-header-left">
                  <div class="about__call-item">
                    <p class="about__call-title">Адрес</p>
                    <p class="about__call-text">📍 Пресненская наб., д. 12, г. Москва, 123317 <br>Башня Федерация Восток, офис 4905</p>
                  </div>
                </div>

                <div class="about__call-header-right">
                  <a href="https://yandex.ru/maps/213/moscow/?indoorLevel=1&ll=37.539185%2C55.749865&mode=routes&rtext=~55.749814%2C37.537759&rtt=auto&ruri=~ymapsbm1%3A%2F%2Forg%3Foid%3D83498916714&z=17.2" class="about__call-header-link">
                    Построить маршрут
                  </a>
                </div>
              </div>

              <div class="about__call-map">
                dasd
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container footer__container">
      <div class="footer__left">
        <a href="#" class="footer__logo">
          <img src="./assets/svg/logo.svg" alt="Bitbanker">
        </a>

        <p class="footer__title-logo">
          Подпишись на наши новости
        </p>

        <form action="" class="footer__form">
          <input type="text" placeholder="Введите ваш e-mail...">

          <button type="submit" class="btn footer__form-btn">Подписаться</button>
        </form>

        <div class="footer__social">
          <div class="social">
            <a href="#" class="social__btn">
              <img src="./assets/svg/tg.svg" alt="">
            </a>

            <a href="#" class="social__btn">
              <img src="./assets/svg/vk.svg" alt="">
            </a>
          </div>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__right-main">
          <p class="footer__title">
            НОВОСТИ
            <span></span>
          </p>

          <div class="footer__menu">
            <div class="footer__menu-item">
              <ul class="footer__list">
                <li>
                  <a href="#">Новости</a>
                </li>

                <li>
                  <a href="#">Лонгриды</a>
                </li>

                <li>
                  <a href="#">Подкасты</a>
                </li>

                <li>
                  <a href="#">Дайджест месяца</a>
                </li>
              </ul>
            </div>
            <div class="footer__menu-item">
              <ul class="footer__list">
                <li>
                  <a href="#">Искусственный интеллект</a>
                </li>

                <li>
                  <a href="#">Матрица</a>
                </li>

                <li>
                  <a href="#">Крипториум</a>
                </li>

                <li>
                  <a href="#">Спецпроекты</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer__right-next">
          <div class="footer__right-add">
            <p class="footer__title">
              АКАДЕМИЯ
            </p>

            <div class="footer__menu">
              <div class="footer__menu-item">
                <ul class="footer__list">
                  <li>
                    <a href="#">Обучение</a>
                  </li>

                  <li>
                    <a href="#">Подкасты</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer__right-add">
            <p class="footer__title">
              О НАС
            </p>

            <div class="footer__menu">
              <div class="footer__menu-item">
                <ul class="footer__list">
                  <li>
                    <a href="#">О нас</a>
                  </li>

                  <li>
                    <a href="#">Наши авторы</a>
                  </li>

                  <li>
                    <a href="#">Реклама</a>
                  </li>

                  <li>
                    <a href="#">Политика приватности</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="phone-color">
  </div>

  <div class="modal">
    <div class="modal__left">

    </div>

    <div class="modal__right">

    </div>
  </div>


  <script type="module" src="/src/main.js"></script>
</body>

</html>