<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        div{
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

    <div>
        <ol>
            <li><a href="/">Главная</a></li>
            <li><a href="/contacts.html">Контакты</a></li>
            <li><a href="/partners.html">Партнёры</a></li>
            <li><a href="/project.html">Проекты</a></li>
            <li><a href="/reviews.html">Отзывы</a></li>
        </ol>
    </div>
</body>
</html>