<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name</title>
    <link rel="stylesheet" href="./src/styles/main.scss">
  </head>
  <body style="display: flex; align-items: center; justify-content: center; padding: 30px; background-color: var(--grey-6d);" >
    
    <button class="btn btn-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
